{% extends 'registration/another_base.html' %}

{% load static %}

{% block title %}

Room Locator

{% endblock %}

{% block content %}

    <!-- header -->
    <header class = "header" id = "header" style=" background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(' {% static 'images/img1.jpg' %}"') center/cover no-repeat;"> 
        
        <div class = "head-top">
            <div class = "site-name">
                <span>Room Locator</span>
            </div>
            <div class = "site-nav">
                <span id = "nav-btn">MENU <i class="fa fa-bars"></i></span>
            </div>
        </div>
        <div class = "head-bottom flex">
            <h2>Affordable & Comfortable Accomodations</h2>
            <p style="width:50%; font-size: 20px; border: 1px solid white; padding:15px; background-color: #fff; color:black;margin-top: 20px;">We are here to help you get yourself a save place to stay,
                 our website is open 24/7 for you to search for your dream accommotion.
                It is either your a student or you're working far from home we're here for you</p>
        </div>
       
    </header>
    <!-- end header -->
    <!-- side navbar -->
     <div class = "sidenav" id = "sidenav">
        <span class="cancel-btn" id = "cancel-btn">
            <i class = "fa fa-times"></i>
        </span>
         <ul class="navbar">
             <li><a href="#header">Home</a></li>
             <li><a href="#services">Services</a></li>
             <li><a href="#rooms">Rooms</a></li>
             <li><a href="#customers">Customers</a></li>
         </ul>
         {% if request.user.is_authenticated %}
         
         <button class="btn log-in"><a href="{% url 'advert:profile' request.user.id %}">profile</a></button>
         <button class="btn sign-up"><a href="{% url 'accounts:logout' %}">Logout</a></button>
     {% else %}
     
     <button class="btn sign-up"><a href="{% url 'accounts:register' %}">Sign up</a></button>
     <button class="btn log-in"><a href="{% url 'accounts:login' %}">Log in</a></button>
     {% endif %}
     <button class="btn sign-up"><a href="{% url 'advert:timeline' %}">TimeLine</a></button>
       
     </div>
     <!-- end of side navbar-->
     <!-- fullscreen modal -->
     <div id = "modal"></div>
     <!-- end of fullscreen modal -->

     <!-- body content -->
     <section class = "services sec-width" id = "services">
         <div class = "title">
             <h2>Services</h2>
         </div>
         <div class = "services-container"> 
             <!-- single service -->
             <article class = "service">
 
               
                <div class="service-content">
                    <h2>Room Service</h2>
                    <div class="service-icon">
                    <span>
                        <i class = "fa fa-bed"></i>
                    </span>
                  </div>
                    <p>We provide best room service in your local area . We have different sort of
                        rooms choices choose the best one you really like.If you have 
                    </p>
                          <button type="button" class="btn" disabled>Know More</button>
                </div>   
            </article>
            <!-- end of single service -->
             <!-- single service -->
             <article class = "service">
               
                <div class="service-content">
                    <h2>Room Security</h2>
                    <div class="service-icon">
                        <span>
                            <i class = "fa fa-video-camera"></i>
                        </span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Voluptates ipsum accusantium perspiciatis ullam nostrum dolorem fugiat optio quae,
                          voluptate dolor aperiam odit, quam veritatis, ad dicta maxime nihil nulla quasi.</p>
                          <button type="button" class="btn" disabled>Know More</button>
                </div>
                
            </article>
            <!-- end of single service -->
             <!-- single service -->
             <article class = "service">
               
                <div class="service-content">
                    <h2>Caretaker</h2>
                    <div class="service-icon">
                        <span>
                            <i class = "fa fa-user"></i>
                        </span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Voluptates ipsum accusantium perspiciatis ullam nostrum dolorem fugiat optio quae,
                          voluptate dolor aperiam odit, quam veritatis, ad dicta maxime nihil nulla quasi.</p>
                          <button type="button" class="btn" disabled>Know More</button>
                </div>
                
            </article>
            <!-- end of single service -->
              <!-- single service -->
              <article class = "service">
               
                <div class="service-content">
                    <h2>Electricity</h2>
                    <div class="service-icon">
                        <span>
                            <i class = "fa fa-lightbulb-o"></i>
                        </span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Voluptates ipsum accusantium perspiciatis ullam nostrum dolorem fugiat optio quae,
                          voluptate dolor aperiam odit, quam veritatis, ad dicta maxime nihil nulla quasi.</p>
                          <button type="button" class="btn" disabled>Know More</button>
                </div>
                
            </article>
            <!-- end of single service -->
              <!-- single service -->
              <article class = "service">
               
                <div class="service-content">
                    <h2>WIFI</h2>
                    <div class="service-icon">
                        <span>
                            <i class = "fa fa-wifi"></i>
                        </span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Voluptates ipsum accusantium perspiciatis ullam nostrum dolorem fugiat optio quae,
                          voluptate dolor aperiam odit, quam veritatis, ad dicta maxime nihil nulla quasi.</p>
                          <button type="button" class="btn" disabled>Know More</button>
                </div>
                
            </article>
            <!-- end of single service -->
            
         </div>
     </section>
     <div class="book">
         <form class="book-form">
             <div class="form-item">
                <label for ="checkin-date">check In Date:</label>
                <input type="date" id="checkin-date">
             </div>
             <div class="form-item">
                <label for ="checkout-date">check Out Date:</label>
                <input type="date" id="checkout-date">
             </div>
             <div class = "form-item">
                 <label for = "student">Student: </label>
                 <input type="text" name="student_or_not" id="student" placeholder="True or False">
             </div>
           
            <div class = "form-item">
                <label for = "rooms">Number Of Tenants:</label>
                <input type="number" min="1" value="1" id="Rooms">
            </div>
            <div class="form-item">
                <input type="submit" class="btn" value="Locate" disabled>
            </div>
         </form>
     </div>

     <section class="rooms sec-width" id = "rooms">
         <div class="title">
             <h2>Rooms</h2>
         </div>
         <div class="rooms-container">
             <!-- single room -->
             <article class="room">
                 <div class="room-image">
                     <img src="{% static 'images/img9.jpg' %}" alt="image">
                 </div>
                 <div class="room-text">
                     <h3>Student Rooms</h3>
                     <ul>
                         <li>
                             <i class="fa fa-arrow-circle-right"></i>
                             Lorem ispsum dolor sit amet.
                         </li>
                         <li>
                            <i class="fa fa-arrow-circle-right"></i>
                             Lorem ispsum dolor sit amet.
                         </li>
                         <li>
                           <i class="fa fa-arrow-circle-right"></i>
                            Lorem ispsum dolor sit amet.
                       </li>
                     </ul>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         Inventore quisquam aut tempora eos saepe, 
                         quo blanditiis autem porro numquam aspernatur, 
                         non consequuntur soluta nulla incidunt temporibus quae! Ratione, provident non.
                          Sint hic nemo quaerat, labore quae velit officia expedita! Veniam.
                     </p>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         Veritatis quo omnis iure quasi nemo inventore tempora facere velit quae?
                          Fugit dolorum sit culpa vel adipisci enim, autem accusantium et asperiores!</p>
                          <p class="rate">
                              <span>R2000 /</span>Per Month
                          </p>
                          <!-- <button type="button" class="btn">Book Now</b></button> -->
                 </div>
             </article>
             <!-- end of single room-->
              <!-- single room -->
              <article class="room">
                <div class="room-image">
                    <img src="{% static 'images/img2.jpg' %}" alt="image">
                </div>
                <div class="room-text">
                    <h3>Student Rooms</h3>
                    <ul>
                        <li>
                            <i class="fa fa-arrow-circle-right"></i>
                            Lorem ispsum dolor sit amet.
                        </li>
                        <li>
                           <i class="fa fa-arrow-circle-right"></i>
                            Lorem ispsum dolor sit amet.
                        </li>
                        <li>
                          <i class="fa fa-arrow-circle-right"></i>
                           Lorem ispsum dolor sit amet.
                      </li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Inventore quisquam aut tempora eos saepe, 
                        quo blanditiis autem porro numquam aspernatur, 
                        non consequuntur soluta nulla incidunt temporibus quae! Ratione, provident non.
                         Sint hic nemo quaerat, labore quae velit officia expedita! Veniam.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Veritatis quo omnis iure quasi nemo inventore tempora facere velit quae?
                         Fugit dolorum sit culpa vel adipisci enim, autem accusantium et asperiores!</p>
                         <p class="rate">
                             <span>R2000 /</span>Per Month
                         </p>
                         <!-- <button type="button" class="btn">Book Now</b></button> -->
                </div>
            </article>
            <!-- end of single room-->
             <!-- single room -->
             <article class="room">
                <div class="room-image">
                    <img src="{% static 'images/img9.jpg' %}" alt="image">
                </div>
                <div class="room-text">
                    <h3>Student Rooms</h3>
                    <ul>
                        <li>
                            <i class="fa fa-arrow-circle-right"></i>
                            Lorem ispsum dolor sit amet.
                        </li>
                        <li>
                           <i class="fa fa-arrow-circle-right"></i>
                            Lorem ispsum dolor sit amet.
                        </li>
                        <li>
                          <i class="fa fa-arrow-circle-right"></i>
                           Lorem ispsum dolor sit amet.
                      </li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Inventore quisquam aut tempora eos saepe, 
                        quo blanditiis autem porro numquam aspernatur, 
                        non consequuntur soluta nulla incidunt temporibus quae! Ratione, provident non.
                         Sint hic nemo quaerat, labore quae velit officia expedita! Veniam.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Veritatis quo omnis iure quasi nemo inventore tempora facere velit quae?
                         Fugit dolorum sit culpa vel adipisci enim, autem accusantium et asperiores!</p>
                         <p class="rate">
                             <span>R2000 /</span>Per Month
                         </p>
                         <!-- <button type="button" class="btn">Book Now</b></button> -->
                </div>
            </article>
            <!-- end of single room-->
         </div>
     </section>


     <section class = "customers" id="customers" >
        <div class="sec-width">
            <div class="title">
                <h2>Customers</h2>
            </div>
            <div class="customers-container">
                <!-- single customer -->
                <div class = "customer">
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star-o"></i></span>
                        <span><i class="fa fa-star-o"></i></span>
                    </div>
                    <h3>We Enjoyed The Stay</h3>
                    <p>Lorem ipsum dolor sit,
                         amet consectetur adipisicing elit.
                          Quas, nisi vero officia deleniti sequi iure quibusdam nobis,
                           ullam optio consequuntur incidunt autem ratione aspernatur similique minus?
                            Blanditiis nemo laboriosam voluptate.</p>
                            <img src="{% static 'images/img9.jpg' %}" alt="image">
                            <span>Customer Name, Province</span>
                </div>
                <!-- end of single customer -->
                    <!-- single customer -->
                    <div class = "customer">
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <h3>Nice accommotion</h3>
                        <p>Lorem ipsum dolor sit,
                             amet consectetur adipisicing elit.
                              Quas, nisi vero officia deleniti sequi iure quibusdam nobis,
                               ullam optio consequuntur incidunt autem ratione aspernatur similique minus?
                                Blanditiis nemo laboriosam voluptate.</p>
                                <img src="{% static 'images/img8.jpg' %}" alt="customer image">
                                <span>Customer Name, Province</span>
                    </div>
                    <!-- end of single customer -->
                     <!-- single customer -->
                     <div class = "customer">
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <h3>Confortable Living</h3>
                         <p>Lorem ipsum dolor sit,
                             amet consectetur adipisicing elit.
                              Quas, nisi vero officia deleniti sequi iure quibusdam nobis,
                               ullam optio consequuntur incidunt autem ratione aspernatur similique minus?
                                Blanditiis nemo laboriosam voluptate.
                            </p>
                                <img src="{% static 'images/img10.jpg' %}" alt="customer image">
                                <span>Customer Name, Province</span>
                     </div>
                    <!-- end of single customer -->
            </div>
        </div>
     </section>
     <!-- end of body content -->
     <!-- footer -->
     <footer class = "footer">
         <div class = "footer-container">
             <div class="row  mt-4">
            <div class="col-sm-3">
             <h2>| About Us </h2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Molestias itaque est explicabo rerum non aliquam nostrum
                  officiis pariatur error dolorem officia excepturi qui quod repudiandae, 
                  quaerat aperiam commodi voluptas velit?</p>
                  
                  </div>
                  <div class="col col-sm-2">
                    <h2>| Social Media </h2>
                  <ul class="list-inline social-icons">
                    <li class="list-inline-item flex"><i class = "fa fa-twitter fa-2x"></i></li>
                    <li class="list-inline-item flex"> <i class = "fa fa-instagram fa-2x"></i></li>
                    <li class="list-inline-item flex"> <i class = "fa fa-facebook fa-2x"></i> </li>
                  </ul>
                  
            </div>

         <div class="col col-sm-2">
             <h2>| Useful Links</h2>
             <a href="#">Blog</a>
             <a href="#">Rooms</a>
             <a href="#">Subsription</a>
             <a href="#">Gift card</a>
         </div>
         <div class="col col-sm-2">
            <h2>| Privacy</h2>
            <a href="#">Blog</a>
            <a href="#">Rooms</a>
            <a href="#">Subsription</a>
            <a href="#">Gift card</a>
        </div>

        <div class="col col-sm-3">
            <h2> | Have A Question</h2>
            <div class="contact-item">
                <span>
                    <i class="fa fa-map-marker"></i>
                </span>
                <span>
                    Nobody, Mankweng E,
                    Motintana, Makanye
                </span>
            </div>
            <div class="contact-item">
                <span>
                    <i class="fa fa-clock"></i>
                </span>
                <span>
                 CopyRights of RoomLocator<span id="time"> {{ time.year }} </span>
                </span>
            </div>
            <div class="contact-item">
                <span>
                    <i class="fa fa-envelope"></i>
                </span>
                <span>
                    roomlocator@gmail.com
                </span>
            </div>
        </div>
    </div>
     </footer>
    <script src = "{% static 'js/demo.js' %}"></script> 
</body>


{% endblock %}