{% extends 'registration/another_base.html' %}
{% load static %}
{% block title %}
	User Profile
{% endblock title %}


{% load crispy_forms_tags %}

{% block content %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow mt-0" >
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'accounts:home' %}">Room Locator</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  {% if request.user.is_authenticated %}
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">

      <a class="nav-link px-3" href="{% url 'accounts:logout' %}">Sign out</a>
    </div>
  </div>
  {% endif %}
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <h4 class="mx-5">{{now|date:"l"}}</h4>
        <ul class="nav flex-column">
          <li class="nav-item mt-2 ">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              Home 
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Map View
            </a>
          </li>
          
          
          <li class="nav-item mt-2">
            <a class="nav-link" href="{% url 'accounts:edit_profile' %}">
              <span data-feather="bar-chart-2"></span>
              Change status
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              List Of Tenants
            </a>
          </li>
          {% if pk_of_owner == user.id %}
          <li class="nav-item mt-2">
            <a class="nav-link" href="{% url 'advert:edit_profile' %}">
              <span data-feather="layers"></span>
              Update Profile
            </a>
          </li>
          {% endif %}
        </ul>

        
       
         
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10">
      <div class="row" >
        <header class = "header" id = "header" style="height:300px; background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url('{{ profile_item.main_picture.url }}") center/cover no-repeat;"> 
          <div class = "head-bottom flex mt-4">
            <p style="width:50%; font-size: 20px; border: 1px solid white; padding:15px; background-color: #fff; color:black;margin-top: 20px;">
            {% if profile_item.bio %}
              {{profile_item.bio}}
              {% elif user.is_staff %}
                You can add a short description your services of your rooms
              {% else %}
              You can add a short discription about your self
              {% endif %}
            </p>
        </div>
        <div class = "head-bottom flex mt-3">
          <p style="width:20%; height:150px; font-size: 20px; border: 1px solid rgba(253, 253, 253, 0); padding:15px; background-color: rgba(255, 0, 0, 0); color:black;margin-top: 10px; border-radius:50%;">
          <img src="{{ profile_item.profile_picture.url }}" alt="" width="90px" height="170px" style="border-radius:50%; ">
          </p>
      </div>
        </header>
      </div>
      <!-- ================ User name Portion =========== -->
      <div class="row mt-5">
      <h3 class="mt-5 d-flex justify-content-center">{{username.first_name}} {{username.last_name}}</h3>
      </div>
      
      
      <div class="row ">
        {% if user.is_staff %}
        <div class="col-md-6 d-flex justify-content-center">
          
            <div class="border p-3 mt-3" style="width: 90%; height:600px;">
              <h3>Add Your House</h3>
              <hr>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
      
                {{form|crispy}}
      
                <input class="btn btn-success" type="submit" value="Add house">
              </form>
      
            
          </div>
        </div>
        {% endif %}
        <div class="col-md-6 d-flex justify-content-center">
          <!-- ============ START OF THE CARD ========= -->
          <div class="house_box ">
            
             {% for house in house_owner.house_set.all %} 
            
             
            <div class="border p-3 m-3">
              <h4>{{ house.house_name }}</h4>
            <div class="house_image">
              <img src="{{ house.picture_main.url }}" alt="">
            </div>
            <div class="house_content">
            
              <div class="row mt-3">
                <div class="col-6 d-flex justify-content-center">
                  <h4>{{house.address}}</h4>
                </div>
                <div class="col-6 d-flex justify-content-center">
                  <h4> <a href="{% url 'advert:house_detail' house.id %}" style="color: black;">View Rooms</a></h4>
                </div>
              </div>
              {% if pk_of_owner == user.id %}
              <div class="row">
                <div class="col-md-6">
                  <a href="{% url 'advert:update_house' house.id %}" class="btn btn-primary">Edit</a>
                </div>
                <div class="col-md-6">
                  <a href="{% url 'advert:delete_house' house.id %}" class="btn btn-danger">Delete</a>
                </div>

              </div>
              {% endif %}
            </div>
            </div>
            {% endfor %}
           
           
          </div>
          <!-- END OF THE CARD -->
        
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock %}


