{% extends 'registration/another_base.html' %}
{% block title %}
New Password
{% endblock %}
{% block content %}
<h3>Enter new Password</h3>

<p>
    Please enter your password twice so we can verify taht you've typed it in correctly.
</p>

<form method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="plg6HKE5hnLpZW8Etz7XSu1sI47yQsdHyk2mIKOuxVaUzGwvy4EMtQYy3pM3NgDL">
    <tr>
        <th>
        <label for="id_new_password1">New password:</label>
        </th>
       
      <td><input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
            <br>
            <span class="helptext">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </span>
        </td>
    </tr>
<tr><th><label for="id_new_password2">New password confirmation:</label></th><td><input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2"></td></tr>
    <input type="Submit" name="Update Password">
</form>

{% endblock %}